{
  "root": true,
  "env": {
    "jest": true,
    "browser": true
  },
  "plugins": ["jest"],
  "extends": [
    "xo",
    "xo-typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    // Enabled by `xo`
    "valid-jsdoc": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "capitalized-comments": "off",
    "@typescript-eslint/member-naming": "off",
    "new-cap": "off",
  }
}
